*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    margin: 0;
    font-family: 'Mooli', sans-serif;
    position: relative;
}

.navbar{
    background: rgb(203, 236, 250);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; z-index: 10; 
    

}
.nav_logo{
    font-style: 'Bebas Neue', sans-serif;
    font-family: 'Finlandica', sans-serif;
    font-family: 'Mooli', sans-serif;
    font-family: 'Skranji', cursive;
    font-size: 20px;
    margin: 15px;
    color: black;
}
.nav_items a{
    margin: 15px;
    color: black;
    text-decoration: none;
    position: relative;
    font-family: 'Mooli', sans-serif;

}

.nav_items a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: all 0.5s;
}
.nav_items a:hover::before{
    width: 100%;

}


.nav_toggle{
display: none;
}
@media (max-width: 768px) {
    .nav_items{
        position: absolute;
        top: 60px;
        right: 0;
        background: rgb(203, 236, 250);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        transform: translateX(-100%);
        transition: 0.3s all;
    }

.nav_toggle{
    display: flex;
    flex-direction: column;
    margin: 15px;
    }

.nav_items a{
    text-align: center;
}
.nav_toggle span{
    width: 30px;
    height: 4px;
    background: rgb(6, 6, 6);
    margin-bottom: 5px;
    border-radius: 2px;
    transform-origin: 5px 0px;
}
.close span{
    transform: rotate(45deg) translate(0px, 0px);
}
.close span:nth-child(2){
    display: none;
}
.close span:nth-child(3){
    transform: rotate(-45deg) translate(-5px, 1px);

}
.open{
    transform: translateX(0);
}}


#slider {
    width: 100%;
    position: relative; z-index: 10; float: right
  }
  
  .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 80%;
    display: none;
    position: relative;
  }
  
  .slide img {
    width: 80%;
    height: 80%;
  }
  
  .slide.active {
    display: block;
  }
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(13, 14, 13);
    font-weight: bold;
    font-size: 40px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(249, 246, 246, 0.8);
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


.container, .slide-content{
    margin: 0;
    padding: 0;
    font-family: 'Mooli', sans-serif;
    width: 100%;
    height: 100vh;

}

.container{position: relative;}


.slide.active{
    display: block;
}
.slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.text-box {
    width: 90%;
    color: rgb(254, 251, 251);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    text-shadow: 3px 3px 0 #000,
    -3px 3px 0 #000,
    -3px -3px 0 #000,
    3px -3px 0 #000;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #eef6f1;
    background-color: #0b39c3;
    transition: 1s;
}

.services{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 0;
}
h1{
margin-top: 100px;
    font-size: 46px;
    height: 100%;
    position: center;
    font-weight: 600;
}
p{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.services-col{
    flex-basis: 40%;
    background: rgb(139, 230, 139);
    border-radius: 50px;
    margin-bottom: 10%;
    padding: 30px 12px;
    box-sizing: border-box;
    border-collapse: separate;
    border-spacing: 30 px 50px;
    transition: 0.5s;
}
h3{
    
    text-align: center;
    font-weight: 600;
    
}
.services-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.8);

}

@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}

.footer{
    width: 100%;
    text-align: center;
    padding: 30px;
    position: absolute;
    bottom: 10px;
    top: 1200px;
}

footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons a{
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
color: #000;
}

.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,0.5)), url(Inicio/nieve.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:#fff;
    font-family: 'Mooli', sans-serif;
    
}

.sub-header h1{
    width: 100%;
    margin-top: 0;
    top: 20%;
    text-align: center;
  position: absolute;
  
}

.about-us{
    width: 80%;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px; 
    
}

.about-col{
    flex-basis: 48%;
    padding: 30px 12px;
   
}
.about-col img{
    width: 100%;
    float: right;
    
}
.about-col h1{
    padding-top: 0;
    margin: 0;
    height: 120px;
    float: left;
}
.about-col p{
    padding: auto;
    margin: auto;
    height: 0px;
    float: left;
}


.contenedor-acordeon{
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 80px;
    position: relative;
    left: 80px;
}
.contenedor-acordeon h2{
    text-align: center;
    font-size: 40px;
    margin-bottom: 35px;
}
.acordeon{
    background: rgb(247, 244, 244);
}
.acordeon label{
    display: block;
    padding: 20px;
    font-size: 20px;
    background: rgb(91, 168, 240);
    color: white;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
}
.acordeon label:hover{
    background: rgb(155, 193, 225);
}
.acordeon .contenido-acordeon{
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}

.btn-acordeon:checked ~ .contenido-acordeon{
    max-height: 600px;
    padding: 15px 0px;

}
.btn-acordeon{
    display: none;
}

@media screen and (max-width: 900px){
    .contenedor-acordeon{
        width: 90%;
    }
}
    
.imagen-col{
    justify-content: center;
}
.imagen-col img{
    width: 700px;
    height: 500px;

}
@media screen and (max-width: 900px){
    .imagen-col{
        width: 100%;
    }
}

.row{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}    

.service{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 70px;
}
.service-col{
    flex-basis: 32%;
    border-radius: 20px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.service-col img{
    width: 90%;
    height: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    color:#fff;
    font-size: 30px;
}
.layer:hover{
    background: rgba(155, 246, 231, 0.76)
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #0a0a0a;
    font-size: 30px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}


.formulario{
    width: 100%;
    height: 100vh;
    background: #141a34;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario form{
    width: 90%;
    max-width: 500px;
    padding: 50px 30px 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    position: relative;
}
.fa-paper-plane{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    font-size: 26px;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-group{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}
.input-group label{
    flex-basis: 28%;
}
.input-group input, .input-group textarea{
    flex-basis: 68%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 16px;
}
::placeholder{
    font-size: 14px;
}

form button{
    background: #141a34;
    color: #fff;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    padding: 10px 40px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}

.sub-header1{
    height: 60vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.2),rgba(4,9,30,0.5)), url(Inicio/livigno-nieve.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:#fff;
    font-family: 'Mooli', sans-serif;
    
}

.sub-header1 h1{
    width: 100%;
    margin-top: 0;
    top: 20%;
    text-align: center;
  position: absolute;
  
}

.input-group span{
    position: absolute;
    bottom: 12px;
    right: 17px;
    font-size: 14px;
    color: red;
}

.input-group span id{
    position: absolute;
    bottom: 12px;
    right: 17px;
    font-size: 14px;
    color: red;

}









